.downloadsPreview {
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 4px #343a40;
    border-radius: 8px;
    overflow: hidden; /* Prevent content from going outside the border */
}

.head {
    background-color: #343a40;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.thumbnail {
    width: 300px;
    height: 300px;
}

.content {
    padding: 18px;
    background-color: white;
    p {
        text-align: justify;
        color: black;
    }
}