@media only screen and (min-width: 1280px) {
    footer {
        font-size: 1.5vh;
    }
}

@media only screen and (max-width: 1280px) {
    footer {
        font-size: 80%;
    }
}

@media only screen and (max-width: 992px) {
    footer {
        font-size: 65%;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        font-size: min(60%, 0.5rem);
    }
}

@media only screen and (max-width: 420px) {
    footer {
        font-size: min(50%, 0.44rem);
    }
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 12;
    grid-column: 1/11;
    color: white;
    background-color: black;
    p {
        margin: 0;
    }
}