.menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.menuIcon img {
    height: 270px;
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 20px;
}

.buttonCenter {
    display: inline-block;
    vertical-align: middle;
    height: 29px;
    background-image: url('../resources/navmid.png');
    background-size: contain;
    text-decoration: none;
    color: yellow;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 12;
    grid-column: 1/11;
    color: white;
    background-color: black;
}

footer p {
    margin: 0;
}