/* Global settings */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "rcFont", Arial, Helvetica, sans-serif;
    text-align: center;
    background: repeating-linear-gradient(45deg, #363da7, #000841 10px);
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

@font-face{
    font-family: "rcFont";
    src: url('../resources/rcfont.ttf');
}

/* Responsive design stuff */
@media only screen and (min-width: 992px) {
    body {
        grid-template-rows: 0.2fr repeat(10, minmax(0, 0.2fr)) 0.1fr;
    }
    #menu_container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    }
    footer {
        
    font-size: 1.5vh;
    }
}

@media only screen and (max-width: 1280px) {
    footer {
        font-size: 80%;
    }
}

@media only screen and (max-width: 992px) {
    body {
        grid-template-rows: 0.1fr repeat(10, minmax(0, 0.2fr)) 0.05fr;
    }
    #menu_container {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
    footer {
        font-size: 65%;
    }
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-rows: 0.2fr 0.2fr repeat(8, minmax(0, 1fr)) 0.2fr 0.1fr;  /* Decreased gap between menu and navbar/footer */
    }
    #menu_container {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(6, minmax(0, 1fr));
    }
    footer {
        font-size: min(60%, 8px);
    }
    
}

@media only screen and (max-width: 420px) {
    footer {
        font-size: min(50%, 7px);
    }
}

#navbarCollapsed {
    cursor: pointer;
    background: black;
    grid-column: 1/12;
    grid-row-end: 2;
    opacity: 0.5;
}

#navbarExpanded {
    position: sticky;
    grid-column: 1/12;
    grid-row: 2/6;
    max-height: 0%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: white;
}


#menu_container {
    overflow: inherit;
    grid-column: 2/10;
    grid-row: 3/11;
    display: grid;
}

.menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.menu_icon img {
    height: 270px;
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 20px;
}

.button_center {
    display: inline-block;
    vertical-align: middle;
    height: 29px;
    background-image: url('../resources/navmid.png');
    background-size: contain;
    text-decoration: none;
    color: yellow;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-start: 12;
    grid-column: 1/11;
    color: white;
    background-color: black;
}

footer p {
    margin: 0;
}