.contestDetails {
    margin: 0 auto; // delete later!!!
    width: 90%;
    overflow: hidden; /* Prevent content from going outside the border */
    font-family: "rcFont", Arial, Helvetica, sans-serif;
    font-style: normal;
    border-radius: 8px;
}

.tabs {
    display: flex;
}